{% extends 'base.html' %}

{% block content %}
    <div class="page-container">
        <p class="tag">LikeLion_14th_session</p>
        <h1 class="title">멋사 14기 2주차</h1>
        <h6 class="welcome">아이엠그라운드 자기소개 하기!!</h6>

        <div class="section">
            <div class="section-title">🦁 내 정보 🦁</div>
            <ul>
                <li>이름 : 김채현</li>
                <li>학과 : 산업시스템공학과</li>
                <li>학번 : 24</li>
                <li>나이 : 22살</li>
                <li>MBTI : ESFJ</li>
            </ul>
        </div>

        <div class="section">
            <div class="section-title">🦁 Too Much Information 🦁</div>
            <ul>
                <li>오늘의 TMI : 투썸 ‘생크림 말차 카페 라떼’ 먹었는데 너무 맛있다 추천 ~~</li>
                <li>이번 주의 TMI : 친구들과 독서모임 하는데 다음 책은 ‘지구 끝의 온실’</li>
                <li>이번 달의 TMI : 시험기간 이슈로 걱정이 산더미 ㅠㅠ 하기 싫음. 그치만 해야겠지.</li>
            </ul>
        </div>

    </div>
{% endblock %}